github "Moya/Moya"
github "ReactiveX/RxSwift"
github "RxSwiftCommunity/RxOptional"
github "RxSwiftCommunity/RxDataSources"
github "RxSwiftCommunity/RxTheme"
github "Swinject/Swinject"
github "Swinject/SwinjectAutoregistration"
github "Swinject/SwinjectStoryboard"
