github "Moya/Moya" "12.0.1"
github "ReactiveX/RxSwift" "4.4.2"
github "RxSwiftCommunity/RxOptional" "3.6.2"
github "RxSwiftCommunity/RxDataSources" "3.1.0"
github "RxSwiftCommunity/RxTheme" "3.3.0"
github "Swinject/Swinject" "2.6.0"
github "Swinject/SwinjectAutoregistration" "2.5.1"
github "Swinject/SwinjectStoryboard" "2.1.0"
